.wallet-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  &-header {
    display: flex;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    font-weight: 700;

    &-image {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
  }

  &-select {
    background-color: transparent;
    border: 2px solid lightgray;
    margin: 15px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      &__img {
        height: 45px;
      }
    }

    &:hover {
      border: 2px solid #a30786;
    }
  }
}
