.token-modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &-header {
    display: flex;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;

    &-image {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
  }

  &-list {
    flex: 1;
    overflow-y: auto;

    &-token {
      display: flex;
      border: 2px solid transparent;
      border-radius: 12px;
      font-size: 24px;
      padding: 10px;
      margin: 5px;

      &:hover {
        border: 2px solid #a30786;
      }
    }

    &-token-active {
      background-color: whitesmoke;
    }
  }

  &-footer {
    border-top: 1px solid lightgray;

    &-button {
      background-color: #a30786;
      color: #ffffff;
      padding: 10px 15px;
      margin: 10px;
      font-size: 18px;
      border: 1px solid #a30786;
      border-radius: 12px;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        background-color: #940678;
      }
    }
  }
}
